
SalesTaxDomain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SalesTaxDomain/obj/Debug/netcoreapp3.1/SalesTaxDomain.AssemblyInfo.cs
SalesTaxDomain/obj/Debug/netcoreapp3.1/SalesTaxDomain.AssemblyInfoInputs.cache
SalesTaxDomain/obj/Debug/netcoreapp3.1/SalesTaxDomain.assets.cache
SalesTaxDomain/obj/Debug/netcoreapp3.1/SalesTaxDomain.csprojAssemblyReference.cache
SalesTaxDomain/obj/project.assets.json
SalesTaxDomain/obj/project.nuget.cache
SalesTaxDomain/obj/SalesTaxDomain.csproj.nuget.dgspec.json
SalesTaxDomain/obj/SalesTaxDomain.csproj.nuget.g.props
SalesTaxDomain/obj/SalesTaxDomain.csproj.nuget.g.targets
SalesTaxProblem/.vs/SalesTaxProblem/v16/.suo
SalesTaxProblem/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SalesTaxProblem/obj/Debug/netcoreapp3.1/SalesTaxProblem.AssemblyInfo.cs
SalesTaxProblem/obj/Debug/netcoreapp3.1/SalesTaxProblem.AssemblyInfoInputs.cache
SalesTaxProblem/obj/Debug/netcoreapp3.1/SalesTaxProblem.assets.cache
SalesTaxProblem/obj/Debug/netcoreapp3.1/SalesTaxProblem.csprojAssemblyReference.cache
SalesTaxProblem/obj/project.assets.json
SalesTaxProblem/obj/project.nuget.cache
SalesTaxProblem/obj/SalesTaxProblem.csproj.nuget.dgspec.json
SalesTaxProblem/obj/SalesTaxProblem.csproj.nuget.g.props
SalesTaxProblem/obj/SalesTaxProblem.csproj.nuget.g.targets
SalesTaxDomain/bin/Debug/netcoreapp3.1/SalesTaxDomain.deps.json
SalesTaxDomain/bin/Debug/netcoreapp3.1/SalesTaxDomain.dll
SalesTaxDomain/bin/Debug/netcoreapp3.1/SalesTaxDomain.pdb
SalesTaxDomain/obj/Debug/netcoreapp3.1/SalesTaxDomain.csproj.CoreCompileInputs.cache
SalesTaxDomain/obj/Debug/netcoreapp3.1/SalesTaxDomain.csproj.FileListAbsolute.txt
SalesTaxDomain/obj/Debug/netcoreapp3.1/SalesTaxDomain.dll
SalesTaxDomain/obj/Debug/netcoreapp3.1/SalesTaxDomain.pdb
SalesTaxProblem/bin/Debug/netcoreapp3.1/SalesTaxProblem.deps.json
SalesTaxProblem/bin/Debug/netcoreapp3.1/SalesTaxProblem.dll
SalesTaxProblem/bin/Debug/netcoreapp3.1/SalesTaxProblem.exe
SalesTaxProblem/bin/Debug/netcoreapp3.1/SalesTaxProblem.pdb
SalesTaxProblem/bin/Debug/netcoreapp3.1/SalesTaxProblem.runtimeconfig.dev.json
SalesTaxProblem/bin/Debug/netcoreapp3.1/SalesTaxProblem.runtimeconfig.json
SalesTaxProblem/obj/Debug/netcoreapp3.1/apphost.exe
SalesTaxProblem/obj/Debug/netcoreapp3.1/SalesTaxProblem.csproj.CoreCompileInputs.cache
SalesTaxProblem/obj/Debug/netcoreapp3.1/SalesTaxProblem.csproj.FileListAbsolute.txt
SalesTaxProblem/obj/Debug/netcoreapp3.1/SalesTaxProblem.dll
SalesTaxProblem/obj/Debug/netcoreapp3.1/SalesTaxProblem.genruntimeconfig.cache
SalesTaxProblem/obj/Debug/netcoreapp3.1/SalesTaxProblem.pdb
